# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Nginx temp files
client_body_temp
proxy_temp
fastcgi_temp
uwsgi_temp
scgi_temp

# OS
.DS_Store

# Env files
.env
.env.*

# Docker overrides
docker-compose.override.yml

# Editors/IDEs
.vscode/
.idea/
